body {
	font-family: "Lucida Console", "Trebuchet MS", Arial, system-ui, sans-serif;
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}

div.top {
	background-color: #9922FF;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	min-height: 20%;
	position: absolute;
}

div.top h1,p {
	position: relative;
	float: left;
	text-shadow: 2px 2px 5px lightgray; /* CSS Feature - text shadow!*/
}
div.top p {
	clear: left;
	text-align: top;
}
#me {
	float: right;
	width: 50%;
	height: 50%;
	max-width: 512px;
	max-height: 288px;
	border-width: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	border-color: blue; /* CSS Feature - border!*/
	border-style: solid;
	transition-duration: 0.5s; /* CSS Feature - transition! */
}
#me:hover { /* CSS Feature - hover effect!*/
	width: 55%;
	height:55%;
	max-width: 544px;
	max-height: 324px;
}
